* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(251, 250, 250);
}


.content {
    padding: 212px;
}

.content-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 65px;
    max-width: 804px;
    color: #00ff00;
    border: 100px 10px dashed white;
}

.header {
    color: #fff;
}

.content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-top: 30px;
    color: rgb(250, 245, 245);
    padding-bottom: 40px;
    max-width: 458px;
}

button:active {
    background-color: black;
    transition: 0.2s;
    color: #fff;
    transform: scale(1.1);
}

.btn1 {
    border: 0;
    background-color: #00ff00;
    border-radius: 5px;
    width: 163px;
    height: 51px;
    color: #fff;
}

.btn2 {
    border: 0;
    color: #fff;
    background-color: #00ff00;
    border-radius: 5px;
    width: 187px;
    height: 59px;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-17 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.btn-17:disabled {
    cursor: default;
}

.btn-17:-moz-focusring {
    outline: auto;
}

.btn-17 svg {
    display: block;
    vertical-align: middle;
}

.btn-17 [hidden] {
    display: none;
}

.btn-17 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.5rem 1rem;
    z-index: 0;
}

.btn-17,
.btn-17 .text-container {
    overflow: hidden;
    position: relative;
}

.btn-17 .text-container {
    display: block;
    mix-blend-mode: difference;
}

.btn-17 .text {
    display: block;
    position: relative;
}

.btn-17:hover .text {
    -webkit-animation: move-up-alternate 0.3s forwards;
    animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

.btn-17:after,
.btn-17:before {
    --skew: 0.2;
    background: #fff;
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
}

.btn-17:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    z-index: -1;
}

.btn-17:hover:before {
    --progress: 100%;
}

.btn-17:hover:after {
    --progress: -102%;
}

.button-name {
    align-items: center;
    appearance: none;
    background-color: #00ff00;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.logotype {
    display: flex;
}

.log-imge {
    width: 130px;
    height: 100px;
}

.logo {
    margin-top: 20px;
}



/* gnreonef */
body {
    height: 90vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV9Iz1J9I-kvJH1MYhNMWzJiUXfB_uCliFzQ&s);
}
/* movnf */
.button-name1 {
    align-items: center;
    appearance: none;
    background-color: #00ff00;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-name1:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-name1:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-name1:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
